.idea/
.DS_Store
*.xml
docs/build
build
DeepGenotype.egg-info
2024_Oct_PacBio_LAMP1_3/
2024_Oct_PacBio_LAMP1_3_run2/


DeepGenotype/test_PacBio/CRISPResso_outputs/
DeepGenotype/test_PacBio/DeepGenotype_outputs/
DeepGenotype/test_PacBio/*.csv
DeepGenotype/test_PacBio/*.xlsx
DeepGenotype/test_PacBio/CRISPResso_run_logs/

DeepGenotype/test_MiSeq_INS/CRISPResso_outputs/
DeepGenotype/test_MiSeq_INS/DeepGenotype_outputs/

DeepGenotype/test_MiSeq_SNP/CRISPResso_outputs/
DeepGenotype/test_MiSeq_SNP/DeepGenotype_outputs/

DeepGenotype/test_C130R/
DeepGenotype/test_C130R/CRISPResso_outputs/
DeepGenotype/test_C130R/DeepGenotype_outputs/

*.pyc
