.idea/
.DS_Store
*.xml
docs/build
build
DeepGenotype.egg-info
2024_Oct_PacBio_LAMP1_3/
2024_Oct_PacBio_LAMP1_3_run2/



DeepGenotype/test_PacBio/**
!DeepGenotype/test_PacBio/fastq/
!DeepGenotype/test_PacBio/fastq/**

DeepGenotype/test_MiSeq_INS/**
!DeepGenotype/test_MiSeq_INS/fastq/
!DeepGenotype/test_MiSeq_INS/fastq/**

DeepGenotype/test_MiSeq_SNP/**
!DeepGenotype/test_MiSeq_SNP/fastq/
!DeepGenotype/test_MiSeq_SNP/fastq/**

DeepGenotype/test_C130R/*

DeepGenotype/test_M146V/*

DeepGenotype/test_SWE/*

DeepGenotype/test_csv/*

DeepGenotype/comparison/*
DeepGenotype/comparison_w_groupDenoise/*
DeepGenotype/comparison_bk_2026_02_23/*

nohup.out
cmds.txt
*.pyc
